In [1]:
import numpy as np
import pandas as pd

In [3]:
#1
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
#2
series = pd.Series([0.25, 0.5, 0.75, 1.0])
pythonList = series.tolist()
print("Python List:", pythonList)
print("Type of Python List:", type(pythonList))

Python List: [0.25, 0.5, 0.75, 1.0]
Type of Python List: <class 'list'>

In [5]:
#3
series1 = pd.Series([2, 4, 6, 8, 10,])
series2 = pd.Series([1, 3, 5, 7, 9])

addResult = series1 + series2
subresult = series1 - series2
multResult = series1 * series2
divResult = series1 / series2

print("AddResult:", addResult)
print("SubResult:", subresult)
print("MultResult:", multResult)
print("DivResult:", divResult)

AddResult: 0     3
1     7
2    11
3    15
4    19
dtype: int64
SubResult: 0    1
1    1
2    1
3    1
4    1
dtype: int64
MultResult: 0     2
1    12
2    30
3    56
4    90
dtype: int64
DivResult: 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [26]:
#4??
series1 = pd.Series([2, 4, 6, 8, 10,])
series2 = pd.Series([1, 3, 5, 7, 9])

print(series1.compare(series2))

   self  other
0     2      1
1     4      3
2     6      5
3     8      7
4    10      9

In [11]:
#5
series = pd.Series([100, 200, 300, 400, 800], index = ['a', 'b', 'c', 'd', 'e'])
series

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [13]:
#6
myarray = np.array([10, 20, 30, 40, 50])
series = pd.Series(myarray)
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [31]:
#7 ??
data = {0: 100, 1:200, 2:"python", 3:300.12, 4:400}
series = pd.Series(data)
frame = pd.DataFrame(series, columns=['series'], dtype = object)
frame['series'] = frame['series'].astype(float, errors = "ignore")
display(frame)

   series
0     100
1     200
2  python
3  300.12
4     400

In [30]:
#8
series = pd.Series([1, 2, 3, 4, 7, 11], index = [0, 1, 2, 3, 4, 5], name = 'col1')
series2 = pd.Series([4, 5, 6, 9, 5, 0], index = [0, 1, 2, 3,4, 5], name = 'col2')
series3 = pd.Series([7, 5, 8, 12, 1, 11], index = [0, 1, 2, 3, 4, 5], name = 'col3')
df= pd.DataFrame({'col1':series , 'col2':series2, 'col3':series3})
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [36]:
#9
data = pd.Series([100,200,"python",300.12,400], index = [0, 1, 2, 3, 4])
myarray = np.array(data)
print(myarray)

[100 200 'python' 300.12 400]

In [38]:
#1 

datax= {"X":[78,85,96,80,86], "Y":[84,94,89,83,86], "Z":[86,97,96,72,83]}
df= pd.DataFrame(datax, columns=['X', 'Y', 'Z'])
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [43]:
#2

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
col= {'Lables','Attempts','Qualify'}

examData= {'Attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'Qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'], 'Score': [12.5, 9, 16.5, np.nan,9, 20, 14.5, np.nan, 8, 19], 'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas']}
df2= pd.DataFrame(examData, columns =[ 'Attempts','Qualify', 'Score', 'Name'], index = labels)
print(df2)

   Attempts Qualify  Score       Name
a         1     yes   12.5  Anastasia
b         3      no    9.0       Dima
c         2     yes   16.5  Katherine
d         3      no    NaN      James
e         2      no    9.0      Emily
f         3     yes   20.0    Michael
g         1     yes   14.5    Matthew
h         1      no    NaN      Laura
i         2      no    8.0      Kevin
j         1     yes   19.0      Jonas

In [ ]:
#3